
body {
  background-image: url(http://img.wallpaperfolder.com/f/615EB5C7182A/apple-iphone-red-fresh.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}

h1 {
  color: blue;
  font-size: 3.5em;
  text-align: center;
}

h2 {
  color: ivory;
}

input {
  color: black;
}

button {
  background-color: blue;
}

#mealSelector {
  margin-left: 10%;
}
