
body {
  background-image: url(http://img.wallpaperfolder.com/f/615EB5C7182A/apple-iphone-red-fresh.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}

h1 {
  color: blue;
  text-shadow: .5px 1px white;
  font-size: 3.5em;
  text-align: center;
}

h2 {
  color: blue;
  text-shadow: .5px 1px white;
  font-size: 2.5em;
  text-align: center;
}

h4 {
  color: white;
  text-shadow: .5px 1px black;
  font-size: 1.25em;
}


input {
  color: black;
}

button {
  background-color: purple;
  margin: 3px;
}

#mealSelector {
  margin-left: 10%;
}


#editMeal #newMeal {
  color: white;
  text-shadow: .5px 1px black;
  font-size: 1em;
}
